/output*
/dl
/.auto.deps
/.config.cmd
/.config.old
/..config.tmp
/.config
*.depend
*.o
/*.patch
/*.diff
*.orig
*.rej
*~
*.pyc

# Causes corruption error with git
package/jack2/0001-Update-to-waf-2-0-26.patch 

# macOS metadata
**/.DS_Store
